@model MyApp.Models.AddressModel

@{
    ViewBag.Title = "Addresses";
}


<div class="row">
    <div class="col-md-5 col-md-offset-3">
        <section class="table-bordered" style="margin-top:20px;padding:20px">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <h4>AddressForm</h4>
               
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                   
                    <div class="col-md-10">
                        @Html.LabelFor(model => model.Permanent_District_Name)
                        @Html.EditorFor(model => model.Permanent_District_Name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Permanent_District_Name, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    
                    <div class="col-md-10">
                        @Html.LabelFor(model => model.Permanent_Post_Office)
                        @Html.EditorFor(model => model.Permanent_Post_Office, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Permanent_Post_Office, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                 
                    <div class="col-md-10">
                        @Html.LabelFor(model => model.Permanent_Village_Name)
                        @Html.EditorFor(model => model.Permanent_Village_Name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Permanent_Village_Name, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                   
                    <div class="col-md-10">
                        @Html.LabelFor(model => model.Temporary_District_Name)
                        @Html.EditorFor(model => model.Temporary_District_Name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Temporary_District_Name, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                  
                    <div class="col-md-10">
                        @Html.LabelFor(model => model.Temporary_Post_Office)
                        @Html.EditorFor(model => model.Temporary_Post_Office, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Temporary_Post_Office, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                   
                    <div class="col-md-10">
                        @Html.LabelFor(model => model.Temporary_Village_Name)
                        @Html.EditorFor(model => model.Temporary_Village_Name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Temporary_Village_Name, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-10">
                        <input type="submit" value="Submit" class="btn btn-default" />
                    </div>
                </div>
                <div>
                    @Html.ActionLink("Back to Student", "Student")
                </div>
            </div>
            }
        </section>
    </div>
</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
